{{ $item := .item }}
{{ $link := $item.RelPermalink }}
{{ $params := $item.Params}}

{{/* Proces some match info */}}
{{ $matchInfo := partial "functions/sportchemy-get_match_info" $params }}

<tr>
  <td class="date"> {{ time.Format "2 Jan" $params.date | title }} </td>
  <td class="team-name">
    <span class="{{ $matchInfo.classHome }}">{{ $params.home.name }}</span>
  </td>
  <td class="team-logo"> <img src={{ $matchInfo.logoHome }}> </td>
  <td class="team-points">
    {{ if (eq $matchInfo.scoreHome "") | or (eq $matchInfo.scoreAway "")}}
      {{ time.Format "15:05" $params.date }}
    {{ else }}
      <span class="{{ $matchInfo.classHome }}">
        {{ $matchInfo.scoreHome }}</span>&nbsp;-&nbsp;<span class="{{ $matchInfo.classAway }}">{{ $matchInfo.scoreAway }}
        </span>
    {{ end }}
  </td>
  <td class="team-logo"> <img src={{ $matchInfo.logoAway }}> </td>
  <td class="team-name">
    <span class="{{ $matchInfo.classAway }}">{{ $params.away.name }}</span>
  </td>
  <td>
    <a href={{ $matchInfo.gmap }} target="_blank">{{ $params.details.court.name }}</a>
  </td>
</tr>