{{ $item := .item }}
{{ $link := $item.RelPermalink }}
{{ $params := $item.Params}}


<div class="col-lg-4">
  <div class="card text-center sportchemy-card">
    <div class="card-header">
      {{ time.Format "Mon, 2 Jan | 15:05" $params.date | title }}
    </div>
    <div class="row no-gutters align-items-center justify-content-center">
      <div class="col-4 order-first">
        <img src={{$params.home.img}}><br>
       <p class="team">{{ $params.home.team }}</p>
      </div>
      <div class="col-4 order-last">
        <img src={{$params.away.img}}><br>
        <p class="team">{{ $params.away.team }}</p>
      </div>
      <div class="col-4 card-body">
        <h3 class="card-title">
          {{ if (eq $params.home.score "") | or (eq $params.away.score "")}}
            &nbsp;
          {{ else }}
            {{printf "%v - %v" $params.home.score $params.away.score}}
          {{ end }}
        </h3>
        <div class="card-subtitle text-muted">
          {{$params.league}}
        </div>
      </div>
    </div>
    <div class="card-footer">
      <a href={{$params.court.url}} target="_blank" class="card-link">{{$params.court.name}}</a>
    </div>
  </div>
</div>