{{/* Sportchemy Shortcodes: sportchemy-match_card */}}

{{/*
    Get the match card associated to the diven match file.
*/}}

{{/*
    Parameters
    ----------
    src :
        Path to the match file from the "content" directory.
    card_class : default "col-lg-4 col-md-6"
        CSS classes for the card div container.
    row_container : default "true"
        If "true", wrap the card div in a row container with central aligment

*/}}

{{ $match := site.GetPage ( .Get "src" ) }}
{{ $card_class := .Get "card_class" | default "col-lg-4 col-md-6"}}

{{ $row_container := eq (.Get "row_container" | default "true") "true" }}

{{ if $row_container }}
<div class="row justify-content-center">
{{ end}}
  <div class="{{ $card_class }}">
      {{ partial "functions/render_view" ( dict "page" (dict "page" "design") "item" $match "view" "sportchemy-card-view" "index" 0 ) }}
  </div>
{{ if $row_container }}
</div>
{{ end}}

