/*
    Custom CSS Style for sportchemy addon.
*/

// General
.team-winner {
    font-weight: bold;
    text-decoration: underline;
}

// sportchemy-card view
.sportchemy-card {
    .card-title {
        margin-top: 0rem;
    }

    .card-subtitle {
        font-size: medium;
    }

    .team-logo {
        width: 40%;
        display: inline;
        padding-top: .25rem;
        object-fit: contain;
        object-position: center;
    }

    .team-name {
        font-size: medium;
    }

    .card-header {
        font-size: medium;
        padding: .1rem .5rem;
    }

    .card-body {
        padding-top: 1.25rem;
        padding-bottom: .5rem;
    }

    .card-footer {
        padding: .1rem .5rem;
        font-size: medium;
    }

    .card-link {
        text-decoration: underline;
    }
}

// sportchemy-table view
.sportchemy-table {
    text-align: center;
    border-bottom: 1px solid;

    td {
        vertical-align: middle;
    }

    a {
        text-decoration: underline;
    }

    td.team-logo {
        max-width: 25px;
        min-width: 25px;
        max-height: 25px;
        padding: .25em;
    }
}

// sportchemy-gallery

//  - center image and fix figure and figcaption to have multiple in same row
.sportchemy-gallery {
    text-align: center;

    // center and align figure and caption
    figure {
        display: inline-block;
        vertical-align: top;

        figcaption {
            margin: auto;
        }
    }

    // avoid image to be wider than the screen for small viewports
    // ad also preserve aspect ratio
    a[data-fancybox] {
        img {
            height: auto;
            width: auto;
            max-width: 100%;
        }
    }
}

// sportchemy calendar

.sportchemy-calendar {
    padding-top: 1em;
}

// sportchemy button (share calendar)

.sportchemy-buttons {
    text-align: right;
}
a.sportchemy-btn {
    text-decoration: none;
}