{{ $item := .item }}

{{ $link := $item.RelPermalink }}
{{ $target := "" }}
{{ if $item.Params.external_link }}
  {{ $link = $item.Params.external_link }}
  {{ $target = "target=\"_blank\" rel=\"noopener\"" }}
{{ end }}

<div class="col-lg-4">
  <div class="card text-center">
    <div class="card-header">
      {{ $item.details.date }}
    </div>
    <div class="row no-gutters align-items-center justify-content-center">
      <div class="col-4 order-first">
        <img src={{$item.home.img}}><br>
       {{ $item.home.team }}
      </div>
      <div class="col-4 order-last">
        <img src={{$item.away.img}}><br>
        {{ $item.away.team }}
      </div>
      <div class="col-4 card-body">
        <h4 class="card-title">
          &nbsp;
        </h4>
        <div class="card-subtitle text-muted">
          {{$item.details.league}}
        </div>
      </div>
    </div>
    <div class="card-footer">
      <a href={{$item.details.address.url}} target="_blank" class="card-link">{{$item.details.address.name}}</a>
    </div>
  </div>
</div>