{{/* Sportchemy Functions: sportchemy-get_match_info */}}

{{/*
    Get information from a match page:
    - scores default to ""
    - the winning team gets the "team-winner" css class, useful for styling
    - logos are searched with this order:
      1. using the $params.[home|away].logo parameter
      2. looking at the corresponding entry in "data/sportchemy/team_logo.yaml"
      3. otherwise ther default "assets/media/sportchemy/team_placeholder.png" is used
    - court link is contructed in thsi way:
      1. using the provided $params.court.link
      2. gmap link "https://maps.google.com?q=ADDRESS",
         where ADDRESS is the $cparams.court.address or $params.court.name.
      3. defaults to "#"
*/}}

{{/* Inputs:
    match page Params
*/}}

{{/* Outputs:
    Dictionary:
      - scoreHome: home team score
      - scoreAway: away team score
      - classHome: home team additional css calss
      - classAway: away team additional css class
      - logoHome: home team logo
      - logoAway: away team logo
      - link: court link
*/}}

{{ $params := . }}

{{/* Get winner */}}
{{/* Need to convert first as str and then as int, otherwise 0 is threated as empty */}}
{{ $scoreHome := int (string $params.score.home | default -1) }}
{{ $scoreAway := int (string $params.score.away | default -1) }}

{{ $classHome := "" }}
{{ $classAway := "" }}

{{ if gt $scoreHome $scoreAway }}
  {{ $classHome = "team-winner" }}
{{ else if gt $scoreAway $scoreHome }}
  {{ $classAway = "team-winner" }}
{{ end }}

{{/* Get placeholder logo if logo not given */}}
{{ $logoHome := $params.home.logo | default (index site.Data.sportchemy.team_logo $params.home.name ) | default "sportchemy/team-placeholder.png" }}
{{ if strings.HasPrefix $logoHome "http" }}
  {{ $logoHome = $logoHome | safeURL }}
{{ else }}
  {{ $logoHome = resources.Get (path.Join "media" $logoHome) }}
  {{ $logoHome = $logoHome.Fit "75x75 webp" }}
  {{ $logoHome = $logoHome.RelPermalink }}
{{ end }}
{{ $logoAway := $params.away.logo | default (index site.Data.sportchemy.team_logo $params.away.name ) | default "sportchemy/team-placeholder.png" }}
{{ if strings.HasPrefix $logoAway "http" }}
  {{ $logoAway = $logoAway | safeURL }}
{{ else }}
  {{ $logoAway = resources.Get (path.Join "media" $logoAway) }}
  {{ $logoAway = $logoAway.Fit "75x75 webp" }}
  {{ $logoAway = $logoAway.RelPermalink }}
{{ end }}

{{/* Construct gmap link from court address if not present */}}
{{ $courtName := $params.court.name | default "" }}
{{ $courtAddress := $params.court.address | default "" }}
{{ $courtLink := $params.court.link | default "#" }}

{{ if (eq $courtLink "#" | and (ne $courtAddress "")) }}
  {{ $courtLink = printf "https://maps.google.com?%s" (querify "q" $courtAddress) | safeURL }}
{{ end }}
{{ if (eq $courtLink "#" | and (ne $courtName "")) }}
  {{ $courtLink = printf "https://maps.google.com?%s" (querify "q" $courtName ) | safeURL }}
{{ end }}

{{ $info := dict
    "scoreHome" $scoreHome
    "scoreAway" $scoreAway
    "classHome" $classHome
    "classAway" $classAway
    "logoHome"  $logoHome
    "logoAway"  $logoAway
    "link"      $courtLink
}}

{{ return $info }}