{{- define "main" -}}

{{ $matches := partial "functions/sportchemy-match_filter" (dict
   "count" .Params.count
   "filters" .Params.filters
   "offset" .Params.offset
   "sort_by" .Params.sort_by
   "sort_ascending" .Params.sort_ascending)
}}

{{ $query := $matches.query }}
{{ $archive_page := $matches.archive_page }}
{{ $count := $matches.count }}
{{ $items_count := $matches.items_count}}

<div class="container sportchemy-container">
  <div class="row">
    <div class="article-container pt-3">
      {{ with .Params.title }}<h1>{{ . | markdownify | emojify }}</h1>{{ end }}
      {{ with .Params.subtitle }}<p class="page-subtitle">{{ . | markdownify | emojify }}</p>{{ end }}
    </div>


    <div class="col-12 sportchemy-calendar">
      {{ $view_hook := printf "partials/views/%s-hook.html" .Params.view }}
      {{ if templates.Exists $view_hook }}
        {{ partial $view_hook (dict "query" $query "block" .Params "view" (.Params.view | default "sportchemy-table-view") )}}
      {{ else }}
        {{ range $index, $item := $query }}
          {{ partial "functions/render_view" (dict "page" .Params "item" . "view" (.Params.view | default "sportchemy-table-view") "index" $index) }}
        {{end}}
      {{ end }}

      {{ with .OutputFormats.Get "calendar" -}}
        <div class="sportchemy-buttons">
          <a href="{{ .RelPermalink }}" role="button" target="_blank" rel="noopener" class="btn btn-primary sportchemy-btn"><i class="fa-solid fa-download"></i></i> Download ICAL</a>
          <a href="https://www.google.com/calendar/render?cid={{ .Permalink }}" target="_blank" rel="noopener" role="button" class="btn btn-primary sportchemy-btn"><i class="fa-solid fa-calendar-plus"></i> {{ i18n "sportchemy_add_to" }} <i class="fa-brands fa-google"></i> Calendar</a>
        </div>
      {{- end }}

      {{/*
      {{ with .OutputFormats.Get "calendar" -}}
        <ul class="cta-group">
          <li>
            <a href="{{ .RelPermalink }}" target="_blank" rel="noopener" class="btn btn-primary px-2 py-2" style="text-decoration:none" data-toggle="tooltip" data-placement="bottom" title="Copy"> <i class="fa-regular fa-calendar"></i> Copy </a>
          </li>
          <button class="btn btn-outline-primary">
            <a href={{ .RelPermalink }} target="_blank" rel="noopener" >
              Download ICS <i class="fas fa-angle-right"></i>
            </a>
          </button>
        </ul>
      {{- end }}

      {{ printf "%#v" ((.OutputFormats.Get "calendar").Permalink) }}

      IMPORT IN GOOGLE LINK:

      https://www.google.com/calendar/render?cid=webcal://agos95.github.io/sportchemy/calendar/nba-calendar/index.ics

      printf "https://www.google.com/calendar/render?cid=%s" ((.OutputFormats.Get "calendar").Permalink) | safeURL

      */}}

      {{ with .Content }}<p>{{ . | emojify | $.Page.RenderString }}</p>{{ end }}
    </div>
  </div>
</div>

{{- end -}}